<ion-footer>
  <ion-toolbar style="padding-bottom: 4px; background-color: gray;">
    <ion-segment 
      value="welcome" 
      (ionChange)="sendClickEvent($event)"
      [(ngModel)]="selectedButton"
    >

    <ion-segment-button value="mis-datos">
      <ion-icon name="person-outline"></ion-icon>

      {{ "Mis datos" | translate }}
    </ion-segment-button>

      <ion-segment-button value="qr-web-scanner">
        <ion-icon name="qr-code-outline"></ion-icon>

        {{ "Escanear QR" | translate }}
      </ion-segment-button>
      
      <ion-segment-button #dinoButton value="miclase">
        <ion-icon name="calendar-clear-outline"></ion-icon>
        {{ "Mi Clase" | translate }}
      </ion-segment-button>
      
      <ion-segment-button value="forum">
        <ion-icon name="pencil-outline"></ion-icon>
        {{ "HomePage.Button.Forum" | translate }}
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>
</ion-footer>