<app-header 
  (headerClick)="headerClick($event)">
</app-header>

<ion-content [fullscreen]="true">

  <app-qrwebscanner 
    *ngIf="selectedComponent === 'qr-web-scanner'" 
    (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()">
  </app-qrwebscanner >
  
  <app-mis-datos
    *ngIf="selectedComponent === 'mis-datos'">
  </app-mis-datos> 

  <app-miclase 
    *ngIf="selectedComponent === 'miclase'">
  </app-miclase>

  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>

</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>