<ion-content>
  <ion-grid fixed *ngif="asistencia" class="asistencia-content">
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.bloqueInicio }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.bloqueTermino }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.dia }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.horaFin }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.idAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.nombreAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.nombreProfesor }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.seccion }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asistencia.sede }}</ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>