.asistencia-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  animation: createBox1 2s;
  font-size: 24px;
  color: black;
  text-align: center;
}