<ion-content [fullscreen]="true" class="login-background">
  <div class="centrar-contenido">
    
    <img alt="DUOC" src="/assets/images/duoc_logo.png" class="logo-duoc" />
    
    <h1 class="pagina-titulo">Bienvenido al Sistema de Asistencia DUOC</h1>
    <br><br>
    <div class="centrar">
      <div class="enmarcar-login">
        <ion-card class="ion-text-center enmarcar-login-card">
        
          <ion-card-content>
            <ion-card-header>  
              <ion-toolbar class="toolbar-custom">
                <div class="titulo-container">
                  <h1 class="titulo-login">Sistema de Asistencia DUOC</h1>
                  <h2 class="subtitulo-login">Inicio de sesión</h2>
                </div>
              </ion-toolbar>
            </ion-card-header>

            <ion-item class="login-input-item">
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <ion-input [(ngModel)]="correo" 
                  label="Cuenta" labelPlacement="floating"
                  placeholder="Ej: atorres"></ion-input>
            </ion-item>

            <ion-item class="login-input-item">
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-input [(ngModel)]="password" 
                  label="Contraseña" labelPlacement="floating" type="password"
                  placeholder="Ej: 1234"></ion-input>
            </ion-item>

            <div class="ion-margin-top botones-container">
              <ion-button expand="block" shape="round" size="default" (click)="login()" class="ancho-boton boton-ingresar">
                Ingresar
              </ion-button>
            </div>
              
          </ion-card-content>

        </ion-card>

        <div class="recuperar-cuenta-container">
          <!-- <a [routerLink]="['/correo']" class="recuperar-cuenta">Recuperar cuenta</a>  -->
        </div>
      </div>
    </div>
  </div>
</ion-content>
