<ion-content [fullscreen]="true" class="login-background">
  
  <div class="contenido-centralizado">
    <!-- Botones superiores de Idioma y Temas -->
    <div class="contenedor-botones-superiores">
      <ion-button class="boton-idioma">
        <ion-select
          [(ngModel)]="languageSelected"
          (ngModelChange)="changeLanguage($event)"
          interface="popover">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="arn">Mapudungun</ion-select-option>
        </ion-select>
      </ion-button>
      <ion-button class="boton-tema" (click)="navigateTheme()">Temas</ion-button>
    </div>

    <!-- Logo DUOC y título principal -->
    <img alt="DUOC" src="/assets/images/duoc_logo.png" class="logo-duoc" />
    <br>

    <!-- Tarjeta de inicio de sesión -->
    <ion-card class="tarjeta-login">
      <ion-card-header>
        <h1 class="titulo-login">Sistema de Asistencia DUOC</h1>
        <h2 class="subtitulo-login">Inicio de sesión</h2>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="campo-input">
          
          <ion-input [(ngModel)]="correo" label="Cuenta" labelPlacement="floating" placeholder="Ej: atorres"></ion-input>
        </ion-item>
        <ion-item class="campo-input">
          <ion-input [(ngModel)]="password" label="Contraseña" labelPlacement="floating" type="password" placeholder="Ej: 1234"></ion-input>
        </ion-item>
        <ion-button expand="block" class="boton-principal" (click)="login()">Ingresar</ion-button>
        <ion-button expand="block" class="boton-secundario" (click)="passwordRecovery()">Recuperar contraseña</ion-button>
        <ion-button expand="block" class="boton-secundario" (click)="navigateMap()">Seleccionar ruta</ion-button>
      </ion-card-content>
    </ion-card>
    <br>
  </div>
</ion-content>
