
.login-background {
  background-image: url('/assets/images/Padre_alonso_ovalle-1-1920x600.jpg');
  background-size: cover;
  background-position: center;
  --background: none;
}

.pagina-titulo {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro más oscuro */
  padding: 10px;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

.enmarcar-login-card {
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Sombras más intensas */
  background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco semitransparente */
}

.centrar-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 60px;
}

.logo-duoc {
  width: 500px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.enmarcar-login {
  width: 100%;
  max-width: 400px;
}

.toolbar-custom {
  background-color: transparent;
}

.titulo-container {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro para mayor contraste */
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
}

.titulo-login {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.subtitulo-login {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.login-input-item {
  margin-bottom: 10px;
}

.botones-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boton-ingresar {
  --background: #f1b634;
  color: white;
  font-weight: bold;
}

.recuperar-cuenta-container {
  margin-top: 20px;
  text-align: center;
}

.recuperar-cuenta {
  text-decoration: underline;
  color: #ffffff;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 15px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}